*~
.DS_Store
.svn
.cvs
*.bak
*.swp
Thumbs.db
*.log
.htaccess
sitemap.xml
sitemap.xml.gz
wp-config.php
wp-content/advanced-cache.php
wp-content/cache/*
wp-content/cache/supercache/*
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
wp-content/themes/simone
wp-content/themes/twentyfourteen
wp-content/themes/twentythirteen
wp-content/themes/twentytwelve
nbproject/private